---
import Layout from "../layouts/Layout.astro";
import WeatherInfo from "@components/WeatherInfo.svelte";
import Input from "@components/Input.svelte";
import GoBackButton from "@components/GoBackButton.svelte";
import Footer from "@components/Footer.astro";
---

<Layout title="Weather App">
  <main class="m-auto p-4 w-full sm:w-2/4 max-w-[100% - 2rem] text-xl">
    <div class="flex gap-4 w-full justify-center">
      <GoBackButton client:only />
      <Input client:only />
    </div>
    <br />
    <WeatherInfo client:only />
  </main>
  <Footer />
</Layout>
